// IMPORTS
@import "_header.less"; 
@import "_background.less";
@import "_globos.less";
@import "_noria.less";
@import "_fireworks.less";
			
@font-face {
 font-family: 'Hustlers';
 src: url('fonts/Hustlers Rough Demo.otf');
}
*{
	margin: 0;
	padding: 0;
}
/*body{
	-webkit-transform: scale(0.5,0.5);
	   -moz-transform: scale(0.5,0.5);
	    -ms-transform: scale(0.5,0.5);
	     -o-transform: scale(0.5,0.5);
	        transform: scale(0.5,0.5);
}*/